_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
Gemfile.lock
.DS_Store
*/.DS_Store
substack-migrator/.venv
substack-migrator/*.toml
substack-migrator/uv.lock
substack-migrator/*.json
substack-migrator/.mypy_cache
substack-migrator/.claude